.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  margin: auto;
  overflow-y: hidden;
}

.right-columns {
  position: relative;
}

.right-column {
  height: 100vh;
  position: absolute;
  right: 0;
  width: 50vw;
}

#about-me, #experience, #projects {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: bottom 1s ease;
}

#welcome {
  align-items: center;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  background-position: center;
  background-size: 25px 25px;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

#about-me {
  @extend .right-column;
  top: 0;
  z-index: 0;
}

#experience {
  @extend .right-column;
  z-index: 1;
}

#projects {
  @extend .right-column;
  z-index: 2;
}

#experience.hidden, #projects.hidden {
  bottom: -100%;
}

.hidden {
  transition: bottom 1s ease;
}

@media only screen and (max-width: 600px) {
  .home {
    grid-template-columns: 1fr;
  }
}
