$name-font-size: 60px;

.home {
  --layer-intro-page: 0;
  --layer-first-page: 1;
  --layer-second-page: 2;
  --layer-third-page: 3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  margin: auto;
  overflow-y: hidden;
}

.home-name, .experience-title {
  font-size: $name-font-size;
}

.home-connect {
  background-color: var(--third-color);
}

.name-wrapper {
  position: relative;
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}
.icons img {
  height: 40px;
}
.icons a:hover {
  cursor: pointer;
}

.right-columns {
  position: relative;
}

.right-column {
  height: 100vh;
  position: absolute;
  right: 0;
  width: 50vw;
}

#about-me, #experience, #projects {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: bottom 1s ease;
}

#experience {
  flex-direction: column;
}

.experience-icons {
  margin-top: 20px;
}

#welcome, #intro {
  align-items: center;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  background-position: center;
  background-size: 25px 25px;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

#intro {
  align-items: center;
  background-color: transparent;
  display: none;
  height: 100vh;
  justify-content: center;
  position: relative;
  z-index: 0;
}

#about-me {
  @extend .right-column;
  bottom: var(--layer-intro-page);
  z-index: 1;
}

#experience {
  @extend .right-column;
  z-index: var(--layer-third-page);
}

#projects {
  @extend .right-column;
  z-index: var(--layer-second-page);
}

#about-me.hidden, #experience.hidden, #projects.hidden {
  bottom: -100%;
}

.hidden {
  transition: bottom 1s ease;
}

@media only screen and (max-width: 600px) {
  #about-me {
    bottom: 0;
  }

  .home {
    grid-template-columns: 1fr;
  }

  #intro {
    display: flex;
  }

  #welcome {
    display: none;
  }
}
